.tableHead {
  display: flex;
  background-color: #131826;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #282D3A;
  }

  // &__item {
  //   height: 38px;
  //   position: relative;
  //   flex: 1;

  //   &:after {
  //     content: '';
  //     position: absolute;
  //     width: 100%;
  //     bottom: 0;
  //     left: 0;
  //     border-bottom: 1px solid #282D3A;
  //   }
  // }

  &__groupItems {
    display: flex;
    flex-direction: row;
  }

  &__group {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #282D3A;
    &:last-child {
      border-right: none;
    }
  }

}