.tableCell {
    flex: 1;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 100%;


    &--last {
        border-right: 1px solid #282D3A;
    }

    &>p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #282D3A;
    }

}